[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fitPlotR"]
	path = fitPlotR
	url = https://github.com/muhammadosama0846-ops/fitplotr
